@media screen and (max-device-width: 900px) {
    .ui-btn {
        padding: 2%;
        font-size: 18px;
    }
    .filter-buttons {
        padding: 3% 0;
    }
    .navbar img {
        width: 45px;
    }
}
/* 
@media screen and (min-device-width: 601px) and (max-device-width: 900px) {

} */

@media screen and (min-device-width: 901px) {
    .ui-btn {
        padding: 1%;
        font-size: 20px;
    }
    .filter-buttons {
        padding: 1% 0;
    }
    .navbar img {
        width: 60px;
    }
}

.app-navbar {
    background-color: #118C8B;
}

footer {
    text-align: center;
    height: 30px;
}

.spinner {
    border: 10px solid #000D29;
    border-top: 10px solid #F14D49;
    border-bottom: 10px solid #F14D49;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% {transform: rotate(360deg); }
}

input, textarea, select, button {
    font-family: "Advent Pro Medium";
    font-size: 16px;
}

.section-header {
    font-size: 28px;
    padding: 16px 0;
    margin: 0 auto;
}

.section-text {
    font-size: 18px;
    padding: 16px 0;
}

.input-label {
    font-size: 16px;
    padding: 16px 0;
}

.input-field {
    font-size: 16px;
    border-radius: 4px;
    background: #FFFFFF;
    height: 32px;
    border: 1px solid #b3b3b3;
    overflow-y: auto;
    width: 175px;
}

.ui-btn {
    text-align: center;
    border-radius: 3px;
}

.ui-btn-a {
    background: #F2746B;
    color: white;
    border: 1px solid #F2746B;
}

.ui-btn-b {
    background: white;
    color: #F2746B;
    border: 1px solid #F2746B;
}

.ui-filter {
    display: inline-block;
}

.main-container {
    height: calc(100vh - 100px);
    padding: 2%;
}

.main-container > .section-text {
    padding-top: 0px;
    text-align: center;
    color: #118C8B;
}

.filter-buttons {
    display: flex;
    width: 100%;
}

.ui-btn.ui-filter {
    width: 46%;
    margin: 0 2%;
}

.food-filters {
    text-align: center;
    display: flex;
    width: 100%;
}

.spinner-btn {
    margin: 20px auto;
    display: block;
    width: 250px;
}
.spinner-icon {
    width: inherit;
}

.spinner-icon.clicked {
    animation: spin 500ms ease-out 1;
}

.selected-eatery {
    display: block;
    width: 100%;
    text-align: center;
}